.wrapper{
    background-color: var(--gray-600);
    display: grid;
    grid-template-columns: 256px auto;
    max-width: 70rem;
    border: 1px solid var(--violet-200);
    border-radius: 20px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 20px;
    gap: 2rem;
    /* align-items: flex-start; */

}